<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Table</title>
</head>
<body>
    <h1>Ninjas List</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Rank</th>
                <th>Missions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each ="ninja: ${ninjas}">
                <td> <img th:src="${ninja.imgUrl}"> </td>
                <td th:text="${ninja.id}"></td>
                <td th:text="${ninja.name}"></td>
                <td th:text="${ninja.age}"></td>
                <td th:text="${ninja.email}"></td>
                <td th:text="${ninja.rank}"></td>
                <td th:text="${ninja.missions}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>